@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/2211-webfont.woff2') format('woff2'),
    url('../fonts/2211-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    font-family: 'open_sansregular', sans-serif;

}
header h1 {
    font-size: 3em;
}
.wrapper {
    margin: 0 auto;
    width: 1060px;
    background-color: white;
    /*margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;*/

}
.cont {
    padding-left: 46px;
    padding-right: 47px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-top: 38px;
    padding-bottom: 30px;
   /* margin-left: 50px;
    margin-right: 50px;*/
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
.main {
    display: block;
        /*height: 40px;*/
    margin: 0 auto 30px;
    /*padding-top: 15px;*/
    padding-left: 15px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #444343, #5e5e5e);
    background-image: -moz-linear-gradient(bottom, #444343, #5e5e5e);
    background-image: -o-linear-gradient(bottom, #444343, #5e5e5e);
    background-image: -ms-linear-gradient(bottom, #444343, #5e5e5e);
    background-image: linear-gradient(to top, #444343, #5e5e5e);
}
.main ul {
    overflow: hidden;
    margin: 10px auto;

}
.main li {
    float: left;
}
.main a {
    display: block;
    /*padding: 1em 15px 1em 1em;*/
    padding: 7px 69px 15px 18px;
    background: #515151;
    /*border-left: 1px solid #b19891;*/
    color: #ffffff;
}
.main a
{
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
   /* border-image: linear-gradient(to top, #444343, #5e5e5e);*/
}

/*.main li.active a{
    background: #000000;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}*/
.main a:hover {
    background: #000000;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: .5s;
}
.content {
    width: 966px; margin: auto;
    height: 600px;
    position: relative; /* Относительное позиционирование */
}
.left_menu {
    display: inline-block;
    vertical-align: top;
}
.description {
    display: inline-block;
    background: #ffffff; /* Цвет фона */
    width: 661px; /* Ширина колонки */
    font-size: 10pt;
    text-align: justify;
    margin-left: 50px;
}
.image_baik img {
    margin-top: 72px;
}
.description p {
    margin-top: 40px;
}
.left_menu ul {
    /*overflow: hidden;*/
    /*margin-left: -35px;*/
    width: 250px;

}

.left_menu a {
    display: block;
    padding: 10px;
    padding-right: 45px;
    padding-left: 30px;
    background: #ffffff;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    color: #000000;
}
.left_menu li:last-child {
    border-bottom: 1px solid #c8c8c8;
}
.left_menu a:hover {
    background: #f9f9f9;
    padding-left: 60px;
    transition: .2s;
}
.image_baik {
    border: 1px solid #c8c8c8;
    text-align: center;
}

.foot {
    display: block;
    /*width: 968px;*/
    height: 40px;
    margin: 0 auto 30px;
    padding-top: 15px;
    padding-left: 15px;
        background-color: #e1e1e1;
}
.foot ul {
    overflow: hidden;
}
.foot li {
    float: left;
}
.foot a {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    background: #e1e1e1;
    /*border-left: 1px solid #b19891;*/
    color: #000000;
}
.foot li:first-child a
{
    margin-left: 15px;
}
.foot li:last-child {
    float: right;
    margin-right: 30px;
    font-size: 10pt;
}
.footer-nav li a:hover {
    border-bottom:1px solid;
    transition: .2s;
}